version: "3.9"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        GH_PAGES: "false"
        NEXT_PUBLIC_BACKEND_API_URL: ""
    image: tumen-front:web
    container_name: tumen-front-web
    ports:
      - "80:80"
      - "443:443"
    environment:
      DOMAIN: tumensugalaa.mn
      BACKEND_ORIGIN: http://172.17.0.1:3000
    extra_hosts:
      - "backend:172.17.0.1"    # хостын 3000 руу хүрэх
    volumes:
      - caddy_data:/data
      - caddy_config:/config

volumes:
  caddy_data:
  caddy_config: